# Biome Temperature Overrides

# Temperature: 0.00
t000 = forBiomes("aether_legacy:aether_highlands")
t000.set("temperature", 0.00)

# Temperature: 0.10
t010 = forBiomes("biomesoplenty:snowy_tundra", "minecraft:cold_beach")
t010.set("temperature", 0.10)

# Temperature: 0.15
t015 = forBiomes("biomesoplenty:cold_desert")
t015.set("temperature", 0.15)

# Temperature: 0.20
t020 = forBiomes("biomesoplenty:snowy_coniferous_forest", "biomesoplenty:snowy_forest", "minecraft:frozen_ocean")
t020.set("temperature", 0.20)

# Temperature: 0.35
t035 = forBiomes("biomesoplenty:boreal_forest")
t035.set("temperature", 0.35)

# Temperature: 0.40
t040 = forBiomes("biomesoplenty:coniferous_forest")
t040.set("temperature", 0.40)

# Temperature: 0.50
t050 = forBiomes("twilightforest:twilight_highlands")
t050.set("temperature", 0.50)

# Temperature: 0.55
t055 = forBiomes("minecraft:birch_forest", "minecraft:birch_forest_hills")
t055.set("temperature", 0.55)

# Temperature: 0.60
t060 = forBiomes("beneath:the_beneath", "minecraft:extreme_hills", "minecraft:extreme_hills_with_trees", "minecraft:mutated_extreme_hills", "minecraft:mutated_extreme_hills_with_trees", "minecraft:smaller_extreme_hills", "thaumcraft:eerie", "twilightforest:highlands_center")
t060.set("temperature", 0.60)

# Temperature: 0.65
t065 = forBiomes("twilightforest:thornlands")
t065.set("temperature", 0.65)

# Temperature: 0.70
t070 = forBiomes("minecraft:plains", "thaumcraft:eldritch", "thaumcraft:magical_forest")
t070.set("temperature", 0.70)

# Temperature: 0.75
t075 = forBiomes("biomesoplenty:sacred_springs", "twilightforest:dark_forest_center", "twilightforest:firefly_forest")
t075.set("temperature", 0.75)

# Temperature: 0.80
t080 = forBiomes("biomesoplenty:bayou", "biomesoplenty:lush_swamp")
t080.set("temperature", 0.80)

# Temperature: 0.85
t085 = forBiomes("biomesoplenty:bamboo_forest", "minecraft:mushroom_island", "minecraft:mushroom_island_shore", "twilightforest:oak_savannah")
t085.set("temperature", 0.85)

# Temperature: 0.90
t090 = forBiomes("biomesoplenty:brushland", "biomesoplenty:fungi_forest", "biomesoplenty:white_beach", "minecraft:savanna", "minecraft:savanna_rock")
t090.set("temperature", 0.90)

# Temperature: 1.00
t100 = forBiomes("atum:oasis", "biomesoplenty:lush_desert", "biomesoplenty:oasis", "biomesoplenty:outback")
t100.set("temperature", 1.00)

# Temperature: 1.10
t110 = forBiomes("biomesoplenty:xeric_shrubland", "minecraft:jungle", "minecraft:jungle_edge", "minecraft:jungle_hills", "minecraft:mutated_jungle", "minecraft:mutated_jungle_edge", "twilightforest:fire_swamp")
t110.set("temperature", 1.10)
