# Configuration file

climate_settings {
    # Smooth transition between biome zones. [range: 0.0 ~ 1.0, default: 0.08]
    S:climateFade=0.08

    # Latitude where cold biomes start (~50°-75°). [range: 0.0 ~ 1.0, default: 0.75]
    S:coldStart=0.75

    # Latitude where frozen biomes start (~75°-90°). [range: 0.0 ~ 1.0, default: 0.95]
    S:frozenStart=0.90

    # Latitude where warm biomes start (~20°-50°). [range: 0.0 ~ 1.0, default: 0.3]
    S:warmStart=0.2
}


world_generation {
    # Continent scale multiplier. [range: 0.1 ~ 10.0, default: 1.0]
    S:continentScaleMultiplier=1.0

    # Maximum world height. [range: 512 ~ 100000, default: 10000]
    I:maxWorldHeight=10000

    # Maximum world width. [range: 512 ~ 100000, default: 10000]
    I:maxWorldWidth=10000

    # World shift value. [range: -1.0 ~ 1.0, default: 0.0]
    S:worldShiftValue=0.0
}


