# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# RandomPortals landings into The Aether.
##########################################################################################################

general {
    # Aether dimension id. Pack default is 4.
    I:"Destination Dimension ID"=4

    # When true, RandomPortals destinations in Destination Dimension ID snap onto island ground instead of generating in the void.
    B:"Enable Aether Portal Safety"=true
}


