# Configuration file

general {
    # Should Roguelike Dungeons be forced to spawn on a predictable mathematical grid instead of randomly?
    B:"Enable Grid Spawning"=true

    # Seed salt value to ensure different worlds spawn dungeons in different grid coordinates.
    I:"Grid Seed Offset"=1432289

    # The maximum chunk distance between Roguelike Dungeon spawns. MUST be larger than Minimum Chunk Distance.
    # Min: 2
    # Max: 2147483647
    I:"Maximum Chunk Distance"=48

    # The minimum chunk distance between Roguelike Dungeon spawns.
    # Min: 1
    # Max: 2147483647
    I:"Minimum Chunk Distance"=32
}


