# Configuration file

##########################################################################################################
# hud
#--------------------------------------------------------------------------------------------------------#
# Client overlay placement. Does not change Elenai feather or thirst icons.
##########################################################################################################

hud {
    # If Toughness Bar is loaded, draw it above armor (left), left to right. Feathers and thirst stay above hunger (right).
    B:"Move Toughness Bar To Armor Side"=true
}


##########################################################################################################
# tooltips
#--------------------------------------------------------------------------------------------------------#
# Client item tooltip lines.
##########################################################################################################

tooltips {
    # Add Metallurgy-style harvest / durability / efficiency lines to non-Metallurgy pickaxes, axes, shovels, and tools.
    B:"Metallurgy Tooltip Compat"=true
}


