# Configuration file

##########################################################################################################
# bow drawing
#--------------------------------------------------------------------------------------------------------#
# Configure bow-drawing stamina consumption
##########################################################################################################

"bow drawing" {
    # Stamina cost (in half-feathers) charged instantly upon drawing a bow
    # Min: 0
    # Max: 2147483647
    I:"Bow Draw Cost"=2

    # Stamina cost (in half-feathers) consumed per hold interval
    # Min: 0
    # Max: 2147483647
    I:"Bow Hold Cost"=1

    # Ticks between feather consumption while holding a bow fully drawn (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Bow Hold Tick Interval"=20

    # Does drawing and holding a bow consume stamina?
    B:"Enable Bow Stamina Cost"=true
}


##########################################################################################################
# climbing
#--------------------------------------------------------------------------------------------------------#
# Configure ladder, vine, and rope climbing stamina consumption
##########################################################################################################

climbing {
    # Does climbing/clinging to ladders/vines consume stamina?
    B:"Enable Climbing Stamina Cost"=true

    # Does climbing/clinging to ropes consume stamina?
    B:"Enable Rope Climb Cost"=true

    # If true, the player will lose their grip and fall/slide when out of stamina.
    B:"Fall on Stamina Depleted"=true

    # Stamina cost (in half-feathers) per interval on ladders
    # Min: 0
    # Max: 2147483647
    I:"Ladder Climb Cost"=2

    # Ticks between feather consumption on ladders (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Ladder Climb Tick Interval"=20

    # Stamina cost (in half-feathers) per interval on ropes
    # Min: 0
    # Max: 2147483647
    I:"Rope Climb Cost"=3

    # Ticks between feather consumption on ropes (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Rope Climb Tick Interval"=20

    # Stamina cost (in half-feathers) per interval on vines
    # Min: 0
    # Max: 2147483647
    I:"Vine Climb Cost"=3

    # Ticks between feather consumption on vines (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Vine Climb Tick Interval"=20
}


##########################################################################################################
# grapple mod
#--------------------------------------------------------------------------------------------------------#
# Configure grappling hook stamina consumption
##########################################################################################################

"grapple mod" {
    # Does active grappling consume stamina?
    B:"Enable Grapple Stamina Cost"=true

    # Stamina cost (in half-feathers) consumed per hold interval
    # Min: 0
    # Max: 2147483647
    I:"Grapple Hold Cost"=1

    # Ticks between feather consumption while grappling (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Grapple Hold Tick Interval"=20
}


##########################################################################################################
# jumping
#--------------------------------------------------------------------------------------------------------#
# Configure jumping stamina consumption
##########################################################################################################

jumping {
    # Does jumping consume stamina?
    B:"Enable Jump Stamina Cost"=true

    # Feather cost (in half-feathers) per jump
    # Min: 1
    # Max: 2147483647
    I:"Jump Feather Cost"=1

    # Minimum feathers required to jump. If below this, jump will be blocked/reduced.
    # Min: 0
    # Max: 2147483647
    I:"Jump Threshold"=1
}


##########################################################################################################
# ledge climbing
#--------------------------------------------------------------------------------------------------------#
# Configure ledge climbing stamina consumption
##########################################################################################################

"ledge climbing" {
    # Should players be able to grab and climb up ledges?
    B:"Enable Ledge Climbing"=true

    # Stamina cost (in half-feathers) per ledge climb
    # Min: 0
    # Max: 2147483647
    I:"Ledge Climb Cost"=2
}


##########################################################################################################
# mining
#--------------------------------------------------------------------------------------------------------#
# Configure mining/block breaking stamina consumption
##########################################################################################################

mining {
    # Stamina cost (in half-feathers) for breaking any other block
    # Min: 0
    # Max: 2147483647
    I:"Default Block Break Cost"=1

    # Does breaking blocks consume stamina?
    B:"Enable Mining Stamina Cost"=true

    # Number of regular feathers (in half-feathers, e.g. 4 = 2 full feathers) at or below which Mining Fatigue III is applied
    # Min: 0
    # Max: 2147483647
    I:"Mining Fatigue Feather Threshold"=4

    # Stamina cost (in half-feathers) for breaking ores and obsidian
    # Min: 0
    # Max: 2147483647
    I:"Ore/Obsidian Break Cost"=2
}


##########################################################################################################
# open glider
#--------------------------------------------------------------------------------------------------------#
# Configure hang glider stamina consumption
##########################################################################################################

"open glider" {
    # Does gliding with a hang glider consume stamina?
    B:"Enable Glider Stamina Cost"=true

    # Stamina cost (in half-feathers) consumed per glide interval
    # Min: 0
    # Max: 2147483647
    I:"Glider Glide Cost"=1

    # Ticks between feather consumption while gliding (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Glider Glide Tick Interval"=20
}


##########################################################################################################
# reskillable integration
#--------------------------------------------------------------------------------------------------------#
# Configure Reskillable integration settings
##########################################################################################################

"reskillable integration" {
    # Registry ID of the Armor Mastery perk (defaults to aqtweaks:armor_mastery)
    S:"Armor Mastery Perk ID"=aqtweaks:armor_mastery

    # Stamina weight cost reduction (in half-feathers) per piece of armor worn
    # Min: 0.0
    # Max: 10.0
    D:"Armor Mastery Reduction"=1.0

    # Should we enable integration with custom Reskillable perks?
    B:"Enable Reskillable Perks"=true

    # Registry ID of the Mining Efficiency perk (defaults to aqtweaks:mining_efficiency)
    S:"Mining Efficiency Perk ID"=aqtweaks:mining_efficiency

    # Stamina cost reduction (in half-feathers) applied to mining actions
    # Min: 0
    # Max: 20
    I:"Mining Efficiency Reduction"=1
}


##########################################################################################################
# shield blocking
#--------------------------------------------------------------------------------------------------------#
# Configure shield stamina consumption
##########################################################################################################

"shield blocking" {
    # Does raising and holding a shield consume stamina?
    B:"Enable Shield Stamina Cost"=true

    # Stamina cost (in half-feathers) consumed per hold interval
    # Min: 0
    # Max: 2147483647
    I:"Shield Hold Cost"=1

    # Ticks between feather consumption while holding a shield raised (20 ticks = 1 second)
    # Min: 1
    # Max: 2147483647
    I:"Shield Hold Tick Interval"=20
}


##########################################################################################################
# simple difficulty integration
#--------------------------------------------------------------------------------------------------------#
# Configure Simple Difficulty integration settings
##########################################################################################################

"simple difficulty integration" {
    # Should restoring feathers consume Simple Difficulty hydration?
    B:"Enable Thirst Cost"=true

    # Thirst exhaustion added per half-feather regenerated (4.0 exhaustion consumes 1 point of thirst saturation/level)
    # Min: 0.0
    # Max: 4.0
    D:"Thirst Exhaustion Per Feather"=0.25
}


##########################################################################################################
# throwing weapons
#--------------------------------------------------------------------------------------------------------#
# Configure throwing weapon (javelins, throwing knives, etc.) stamina consumption
##########################################################################################################

"throwing weapons" {
    # Does holding and throwing throwing weapons consume stamina?
    B:"Enable Throwing Weapon Stamina Cost"=true

    # Multiplier on Bow Hold Interval for throwing weapons (2 = half the bow drain rate)
    # Min: 1
    # Max: 2147483647
    I:"Throwing Hold Interval Multiplier"=2

    # Stamina cost (in half-feathers) charged when releasing a throw (same as light weapon attack)
    # Min: 0
    # Max: 2147483647
    I:"Throwing Release Cost"=1
}


##########################################################################################################
# weapons (melee)
#--------------------------------------------------------------------------------------------------------#
# Configure melee weapon stamina consumption
##########################################################################################################

"weapons (melee)" {
    # Does attacking with melee weapons consume stamina?
    B:"Enable Melee Attack Cost"=true

    # Feather cost (in half-feathers) for heavy weapons
    # Min: 0
    # Max: 2147483647
    I:"Heavy Weapons Cost"=4

    # List of registry names of custom items to treat as heavy weapons
    S:"Heavy Weapons Custom List" <
     >

    # Damage multiplier applied if attacking without enough feathers
    # Min: 0.0
    # Max: 1.0
    D:"Heavy Weapons Damage Multiplier"=0.3

    # Feather cost (in half-feathers) for light weapons
    # Min: 0
    # Max: 2147483647
    I:"Light Weapons Cost"=1

    # List of registry names of custom items to treat as light weapons (e.g. modid:item_id)
    S:"Light Weapons Custom List" <
     >

    # Damage multiplier applied if attacking without enough feathers
    # Min: 0.0
    # Max: 1.0
    D:"Light Weapons Damage Multiplier"=0.8

    # Feather cost (in half-feathers) for medium weapons
    # Min: 0
    # Max: 2147483647
    I:"Medium Weapons Cost"=2

    # List of registry names of custom items to treat as medium weapons
    S:"Medium Weapons Custom List" <
     >

    # Damage multiplier applied if attacking without enough feathers
    # Min: 0.0
    # Max: 1.0
    D:"Medium Weapons Damage Multiplier"=0.5
}


