# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Elixir of Vitality drink sound when Stats Keeper accepts the heart.
##########################################################################################################

general {
    # Sound event id played when Elixir of Vitality is successfully drunk. Empty disables the sound. Unknown or invalid ids fall back to minecraft:entity.player.levelup.
    S:"Elixir Drink Sound"=minecraft:entity.player.levelup
}


