# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# GUI mouse grab while a screen is open, and on return to play.
##########################################################################################################

general {
    # When true, mouse look is skipped while any screen is open, and closing a screen back to play re-grabs the cursor and drops the recenter delta. When false, stock Minecraft mouse focus.
    B:"Fix GUI Mouse Grab"=true
}


