# Configuration file

general {
    # List of Bewitchment ritual registry names that should grant Thaumcraft warp upon completion.
    # Format: registry_name=normal,temporary,permanent (permanent is optional and defaults to 0)
    S:"Ritual Warp List" <
        bewitchment:conjure_imp=1,3
        bewitchment:conjure_demon=2,5
        bewitchment:conjure_baphomet=5,15,2
        bewitchment:conjure_leonard=5,15,2
        bewitchment:lesser_hellmouth=2,5
        bewitchment:hellmouth=3,8
        bewitchment:greater_hellmouth=4,10
        bewitchment:sowing_salt=2,4
        bewitchment:drought=2,4
        bewitchment:hungry_flames=2,4
        bewitchment:conjure_wither=3,6
     >
}


