# Configuration file

general {
    # Should piercing/penetrating damage from Grimoire of Gaia mobs be converted to normal damage that is reducible by physical armor?
    B:"Disable Piercing Damage"=true
}


