# Configuration file

"assorted parameters" {
    B:ThaumcraftBiomesOn=true
    B:ThaumcraftInNewDimensons=true
}


thaumcraftbiomebeaches {
    S:"Eerie beach"=none
    S:"Magical Forest beach"=none
}


thaumcraftbiomeclimates {
    S:"Eerie climate"=MEDIUM
    S:"Magical Forest climate"=MEDIUM
}


thaumcraftbiomeincidences {
    I:"Eerie Incidence"=4
    I:"Magical Forest Incidence"=8
}


thaumcraftbiomevillages {
    B:"Eerie hasVillages"=false
    B:"Magical Forest hasVillages"=false
}


