# Configuration file

general {
    # When enabled, the ID of a mob will be shown on it's corrosponding spawn egg. This is used to help you blacklist mobs. [default: true]
    B:addTooltipInfo=true

    # A list of all banned mobs. If a mobs entity name is added to this list, it will not be allowed to spawn in any world. To get the name of an entity, interact with it using the data checker and it's name will be given. [default: [example1], [example2], [example3]]
    S:bannedMobs <
        grimoireofgaia:ant
        grimoireofgaia:ant_hill
        grimoireofgaia:ant_ranger
        grimoireofgaia:bee
        grimoireofgaia:chest
        grimoireofgaia:cyan_flower
        grimoireofgaia:gorgon
        grimoireofgaia:harpy_wizard
        grimoireofgaia:horse
        grimoireofgaia:kikimora
        grimoireofgaia:kobold
        grimoireofgaia:mandragora
        grimoireofgaia:mimic
        grimoireofgaia:mite
        grimoireofgaia:vase
        grimoireofgaia:vase_nether
        lycanitesmobs:archvile
        lycanitesmobs:arisaur
        lycanitesmobs:asmodeus
        lycanitesmobs:aspid
        lycanitesmobs:astaroth
        lycanitesmobs:behemoth
        lycanitesmobs:belph
        lycanitesmobs:cacodemon
        lycanitesmobs:calpod
        lycanitesmobs:concapede
        lycanitesmobs:concapedesegment
        lycanitesmobs:erepede
        lycanitesmobs:joust
        lycanitesmobs:joustalpha
        lycanitesmobs:khalk
        lycanitesmobs:lurker
        lycanitesmobs:maka
        lycanitesmobs:makaalpha
        lycanitesmobs:pinky
        lycanitesmobs:rahovart
        lycanitesmobs:sutiramu
        lycanitesmobs:thresher
        lycanitesmobs:trite
        lycanitesmobs:uvaraptor
        lycanitesmobs:ventoraptor
        lycanitesmobs:vorach
        lycanitesmobs:wraamon
        lycanitesmobs:yale
     >

    # When enabled this mod will target mobs that have already spawned. This option must also be enabled to prevent mob spawners from spawning as well. [default: false]
    B:removeAggressively=false

    # While false, this mod will not remove custom named mobs from the game. [default: false]
    B:removeNamedMobs=false
    B:removeSpawns=true
}


