# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	Be cautious of Magical Forests. They can be as dangerous as they are beautiful.
	Enemies get stronger as you get deeper below the surface, be well prepared before you go too far below.
	Dungeons are great places to get loot, but they're very dangerous. Gear up before going deeper into them.
	Some chests may be mimics in disguise. Be careful when looting.
	Don't forget to check your quest book.
	Many mod's books can be combined into the Akashic Tome to save space.
	Magic Maps can help you find Villages and other important locations.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


