# Configuration file

~CONFIG_VERSION: 1

general {
    # INTERNAL. Development messages enabled.
    B:debug_mode=false

    # Set to false to disable all mod-specific additions to vanilla structure and activity loot tables. Loot is the only way to obtain the custom liners like the Ozzys and Ollies. Enabled by default; requires restart if changed in-game.
    B:enrich_loot_tables=true

    # Set to false to disable the portable 'goo paks' that you carry in your hotbar. Paks are a useful supplement to regular armor liners in extreme environments. Included by default; requires restart if changed in-game.
    B:include_goopaks=true

    # Set to true to enable special liners including their damage mitigation features. These items are available only as loot rewards in the standalone mod. Disabled by default; requires restart if changed in-game.
    B:include_special_liners=false

    # Set to true to include crafting recipes for items that are normally obtained through other mechanisms like looting or advancements. By default, only the ToughAsNails temperature-related 'Ozzy' liners are craftable. [default: *DEFAULT*]
    S:special_liners_craftable=*DEFAULT*

    # Set to true to force all the basic recipes to use a mod-specific element to ensure no collisions with other mod recipes. If turned ON you cannot use TAN armor as liners directly. Off by default; requires restart if changed in-game.
    B:super_compatibility_mode=true

    # Set to the maximum number of plain liners a single piece of armor can have. Applies to all types of armor pieces (helmets, chestplates, leggings, boots). Does not apply to special types of liners.
    I:thickness_limit=3

    # Set to true to force all mod items and blocks to a single custom tab in creative views. Enabled by default.
    B:use_custom_tab=true
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Armor that can be lined in addition to vanilla armor pieces. Requires restart if changed.
##########################################################################################################

integration {
    # Set to the full IDs of all modded boots that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_boots], [cyclicmagic:purple_boots]]
    S:boots <
        aether_legacy:gravitite_boots
        aether_legacy:neptune_boots
        aether_legacy:obsidian_boots
        aether_legacy:phoenix_boots
        aether_legacy:sentry_boots
        aether_legacy:valkyrie_boots
        aether_legacy:zanite_boots
        aetherworks:aetherium_ashen_cloak_boots
        atum:desert_boots_diamond
        atum:desert_boots_gold
        atum:desert_boots_iron
        atum:mummy_boots
        atum:wanderer_boots
        bewitchment:cold_iron_boots
        bewitchment:silver_boots
        botania:elementiumboots
        botania:manasteelboots
        botania:manaweaveboots
        botania:terrasteelboots
        ceramics:clay_boots
        crimsonrevelations:comet_boots
        crimsonrevelations:meteor_boots
        da:adventure_boots
        da:dark_metal_boots
        da:enderphrite_boots
        da:flame_boots
        da:imperial_boots
        da:mage_boots
        da:novik_boots
        da:wyrk_boots
        ee:amber_boots
        ee:endfall_boots
        embers:ashen_cloak_boots
        futuremc:netherite_boots
        grapplemod:longfallboots
        kami:awakened_ichorweave_boots
        kami:ichorweave_boots
        metallurgy:amordrine_boots
        metallurgy:astral_silver_boots
        metallurgy:atlarus_boots
        metallurgy:black_steel_boots
        metallurgy:brass_boots
        metallurgy:bronze_boots
        metallurgy:celenegil_boots
        metallurgy:ceruclase_boots
        metallurgy:copper_boots
        metallurgy:damascus_steel_boots
        metallurgy:deep_iron_boots
        metallurgy:desichalkos_boots
        metallurgy:eximite_boots
        metallurgy:ignatius_boots
        metallurgy:kalendrite_boots
        metallurgy:mithril_boots
        metallurgy:orichalcum_boots
        metallurgy:platinum_boots
        metallurgy:prometheum_boots
        metallurgy:quicksilver_boots
        metallurgy:sanguinite_boots
        metallurgy:shadow_iron_boots
        metallurgy:shadow_steel_boots
        metallurgy:silver_boots
        metallurgy:steel_boots
        metallurgy:tartarite_boots
        metallurgy:vulcanite_boots
        metallurgy:vyroxeres_boots
        mysticalworld:copper_boots
        mysticalworld:silver_boots
        nanohsbaubles:featherboots
        netherex:black_salamander_hide_boots
        netherex:orange_salamander_hide_boots
        netherex:wither_bone_boots
        saltmod:mud_boots
        simpledifficulty:ice_boots
        simpledifficulty:wool_boots
        thaumcraft:cloth_boots
        thaumcraft:crimson_boots
        thaumcraft:thaumium_boots
        thaumcraft:traveller_boots
        thaumcraft:void_boots
        thaumicaugmentation:void_boots
        thaumicwonders:void_walker_boots
        thebetweenlands:amphibious_boots
        thebetweenlands:ancient_boots
        thebetweenlands:bone_boots
        thebetweenlands:lurker_skin_boots
        thebetweenlands:marsh_runner_boots
        thebetweenlands:rubber_boots
        thebetweenlands:syrmorite_boots
        thebetweenlands:valonite_boots
        twilightforest:arctic_boots
        twilightforest:fiery_boots
        twilightforest:ironwood_boots
        twilightforest:knightmetal_boots
        twilightforest:steeleaf_boots
        twilightforest:yeti_boots
     >

    # Set to the full IDs of all modded chestplates that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_chestplate], [cyclicmagic:purple_chestplate]]
    S:chestplate <
        aether_legacy:gravitite_chestplate
        aether_legacy:neptune_chestplate
        aether_legacy:obsidian_chestplate
        aether_legacy:phoenix_chestplate
        aether_legacy:valkyrie_chestplate
        aether_legacy:zanite_chestplate
        aetherworks:aetherium_ashen_cloak_chest
        atum:desert_chest_diamond
        atum:desert_chest_gold
        atum:desert_chest_iron
        atum:mummy_chest
        atum:wanderer_chest
        bewitchment:alchemist_robes
        bewitchment:besmirched_robes
        bewitchment:cold_iron_chestplate
        bewitchment:green_witch_robes
        bewitchment:silver_chestplate
        bewitchment:witches_robes
        botania:elementiumchest
        botania:manasteelchest
        botania:manaweavechest
        botania:terrasteelchest
        ceramics:clay_chestplate
        crimsonrevelations:ancient_crimson_chestplate
        crimsonrevelations:crimson_archer_chestplate
        crimsonrevelations:crimson_paladin_chestplate
        crimsonrevelations:crimson_ranger_chestplate
        da:adventure_chestplate
        da:colossus_chestplate
        da:dark_metal_chestplate
        da:draugr_chestplate
        da:enderphrite_chestplate
        da:flame_chestplate
        da:imperial_chestplate
        da:mage_chestplate
        da:nightfall_chestplate
        da:novik_chestplate
        da:voidiant_chestplate
        ee:amber_chestplate
        ee:dark_chestplate
        ee:endfall_chestplate
        ee:lamented_chestplate
        embers:ashen_cloak_chest
        futuremc:netherite_chestplate
        kami:awakened_ichorweave_robe
        kami:ichorweave_robe
        metallurgy:amordrine_chestplate
        metallurgy:astral_silver_chestplate
        metallurgy:atlarus_chestplate
        metallurgy:black_steel_chestplate
        metallurgy:brass_chestplate
        metallurgy:bronze_chestplate
        metallurgy:celenegil_chestplate
        metallurgy:ceruclase_chestplate
        metallurgy:copper_chestplate
        metallurgy:damascus_steel_chestplate
        metallurgy:deep_iron_chestplate
        metallurgy:desichalkos_chestplate
        metallurgy:eximite_chestplate
        metallurgy:ignatius_chestplate
        metallurgy:kalendrite_chestplate
        metallurgy:mithril_chestplate
        metallurgy:orichalcum_chestplate
        metallurgy:platinum_chestplate
        metallurgy:prometheum_chestplate
        metallurgy:quicksilver_chestplate
        metallurgy:sanguinite_chestplate
        metallurgy:shadow_iron_chestplate
        metallurgy:shadow_steel_chestplate
        metallurgy:silver_chestplate
        metallurgy:steel_chestplate
        metallurgy:tartarite_chestplate
        metallurgy:vulcanite_chestplate
        metallurgy:vyroxeres_chestplate
        mysticalworld:copper_chestplate
        mysticalworld:silver_chestplate
        netherex:black_salamander_hide_chestplate
        netherex:orange_salamander_hide_chestplate
        netherex:wither_bone_chestplate
        saltmod:mud_chestplate
        simpledifficulty:ice_chestplate
        simpledifficulty:wool_chestplate
        thaumcraft:cloth_chest
        thaumcraft:crimson_plate_chest
        thaumcraft:crimson_praetor_chest
        thaumcraft:crimson_robe_chest
        thaumcraft:fortress_chest
        thaumcraft:thaumium_chest
        thaumcraft:void_chest
        thaumcraft:void_robe_chest
        thaumicaugmentation:elytra_harness
        thaumicaugmentation:thaumium_robes_chestplate
        thaumicaugmentation:thaumostatic_harness
        thaumicwonders:void_fortress_chest
        thaumicwonders:voidcaller_chest
        thebetweenlands:amphibious_chestplate
        thebetweenlands:ancient_chestplate
        thebetweenlands:bone_chestplate
        thebetweenlands:lurker_skin_chestplate
        thebetweenlands:syrmorite_chestplate
        thebetweenlands:valonite_chestplate
        twilightforest:arctic_chestplate
        twilightforest:fiery_chestplate
        twilightforest:ironwood_chestplate
        twilightforest:knightmetal_chestplate
        twilightforest:naga_chestplate
        twilightforest:phantom_chestplate
        twilightforest:steeleaf_chestplate
        twilightforest:yeti_chestplate
     >

    # Set to the full IDs of all modded helmets that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_helmet], [cyclicmagic:purple_helmet]]
    S:helmet <
        aether_legacy:gravitite_helmet
        aether_legacy:neptune_helmet
        aether_legacy:obsidian_helmet
        aether_legacy:phoenix_helmet
        aether_legacy:valkyrie_helmet
        aether_legacy:zanite_helmet
        aetherworks:aetherium_ashen_cloak_head
        aetherworks:item_crown
        artifacts:drinking_hat
        atum:desert_helmet_diamond
        atum:desert_helmet_gold
        atum:desert_helmet_iron
        atum:mummy_helmet
        atum:wanderer_helmet
        bewitchment:alchemist_hat
        bewitchment:alchemist_hood
        bewitchment:besmirched_hat
        bewitchment:besmirched_hood
        bewitchment:cold_iron_helmet
        bewitchment:green_witch_hat
        bewitchment:green_witch_hood
        bewitchment:silver_helmet
        bewitchment:witches_cowl
        bewitchment:witches_hat
        botania:elementiumhelm
        botania:flighttiara
        botania:manasteelhelm
        botania:manaweavehelm
        botania:terrasteelhelm
        ceramics:clay_helmet
        congregamystica:viscap
        crimsonrevelations:ancient_crimson_helmet
        crimsonrevelations:crimson_archer_helmet
        crimsonrevelations:crimson_paladin_helmet
        crimsonrevelations:crimson_ranger_helmet
        da:adventure_helmet
        da:apathyr_helmet
        da:dark_metal_helmet
        da:draugr_helmet
        da:enderphrite_helmet
        da:flame_helmet
        da:flower_crown
        da:imperial_helmet
        da:incendium_helmet
        da:king_helmet
        da:lich_helmet
        da:mage_helmet
        da:nightfall_helmet
        da:novik_helmet
        da:obsidian_helm
        da:warlord_helmet
        da:wyrk_helmet
        ee:amber_helmet
        ee:dark_helmet
        ee:endfall_helmet
        ee:king_crown
        ee:lamented_helmet
        ee:lidoped_helmet
        embers:ashen_cloak_head
        futuremc:netherite_helmet
        grimoireofgaia:box_hat
        kami:awakened_ichorweave_hood
        kami:ichorweave_hood
        metallurgy:amordrine_helmet
        metallurgy:astral_silver_helmet
        metallurgy:atlarus_helmet
        metallurgy:black_steel_helmet
        metallurgy:brass_helmet
        metallurgy:bronze_helmet
        metallurgy:celenegil_helmet
        metallurgy:ceruclase_helmet
        metallurgy:copper_helmet
        metallurgy:damascus_steel_helmet
        metallurgy:deep_iron_helmet
        metallurgy:desichalkos_helmet
        metallurgy:eximite_helmet
        metallurgy:ignatius_helmet
        metallurgy:kalendrite_helmet
        metallurgy:mithril_helmet
        metallurgy:orichalcum_helmet
        metallurgy:platinum_helmet
        metallurgy:prometheum_helmet
        metallurgy:quicksilver_helmet
        metallurgy:sanguinite_helmet
        metallurgy:shadow_iron_helmet
        metallurgy:shadow_steel_helmet
        metallurgy:silver_helmet
        metallurgy:steel_helmet
        metallurgy:tartarite_helmet
        metallurgy:vulcanite_helmet
        metallurgy:vyroxeres_helmet
        mysticalworld:antler_hat
        mysticalworld:beetle_mask
        mysticalworld:copper_helmet
        mysticalworld:silver_helmet
        netherex:black_salamander_hide_helmet
        netherex:orange_salamander_hide_helmet
        netherex:wither_bone_helmet
        quark:archaeologist_hat
        quark:pirate_hat
        quark:witch_hat
        saltmod:mud_helmet
        simpledifficulty:ice_helmet
        simpledifficulty:wool_helmet
        thaumcraft:crimson_plate_helm
        thaumcraft:crimson_praetor_helm
        thaumcraft:crimson_robe_helm
        thaumcraft:fortress_helm
        thaumcraft:thaumium_helm
        thaumcraft:void_helm
        thaumcraft:void_robe_helm
        thaumicaugmentation:thaumium_robes_hood
        thaumicwonders:void_fortress_helm
        thaumicwonders:voidcaller_helm
        thebetweenlands:amphibious_helmet
        thebetweenlands:ancient_helmet
        thebetweenlands:bone_helmet
        thebetweenlands:explorers_hat
        thebetweenlands:lurker_skin_helmet
        thebetweenlands:silk_mask
        thebetweenlands:skull_mask
        thebetweenlands:spirit_tree_face_large_mask
        thebetweenlands:spirit_tree_face_small_mask
        thebetweenlands:syrmorite_helmet
        thebetweenlands:valonite_helmet
        twilightforest:arctic_helmet
        twilightforest:fiery_helmet
        twilightforest:ironwood_helmet
        twilightforest:knightmetal_helmet
        twilightforest:phantom_helmet
        twilightforest:steeleaf_helmet
        twilightforest:yeti_helmet
        xreliquary:witch_hat
     >

    # Set to the full IDs of all modded leggings that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_leggings], [cyclicmagic:purple_leggings]]
    S:leggings <
        aether_legacy:gravitite_leggings
        aether_legacy:neptune_leggings
        aether_legacy:obsidian_leggings
        aether_legacy:phoenix_leggings
        aether_legacy:valkyrie_leggings
        aether_legacy:zanite_leggings
        aetherworks:aetherium_ashen_cloak_legs
        atum:desert_legs_diamond
        atum:desert_legs_gold
        atum:desert_legs_iron
        atum:mummy_legs
        atum:wanderer_legs
        bewitchment:alchemist_pants
        bewitchment:besmirched_pants
        bewitchment:cold_iron_leggings
        bewitchment:green_witch_pants
        bewitchment:silver_leggings
        bewitchment:witches_pants
        botania:elementiumlegs
        botania:manasteellegs
        botania:manaweavelegs
        botania:terrasteellegs
        ceramics:clay_leggings
        crimsonrevelations:ancient_crimson_leggings
        crimsonrevelations:crimson_archer_leggings
        crimsonrevelations:crimson_paladin_leggings
        crimsonrevelations:crimson_ranger_leggings
        da:adventure_leggings
        da:dark_metal_leggings
        da:enderphrite_leggings
        da:flame_leggings
        da:imperial_leggings
        da:incendium_leggings
        da:mage_leggings
        da:novik_leggings
        ee:amber_leggings
        ee:endfall_leggings
        embers:ashen_cloak_legs
        futuremc:netherite_leggings
        kami:awakened_ichorweave_leggings
        kami:ichorweave_leggings
        metallurgy:amordrine_leggings
        metallurgy:astral_silver_leggings
        metallurgy:atlarus_leggings
        metallurgy:black_steel_leggings
        metallurgy:brass_leggings
        metallurgy:bronze_leggings
        metallurgy:celenegil_leggings
        metallurgy:ceruclase_leggings
        metallurgy:copper_leggings
        metallurgy:damascus_steel_leggings
        metallurgy:deep_iron_leggings
        metallurgy:desichalkos_leggings
        metallurgy:eximite_leggings
        metallurgy:ignatius_leggings
        metallurgy:kalendrite_leggings
        metallurgy:mithril_leggings
        metallurgy:orichalcum_leggings
        metallurgy:platinum_leggings
        metallurgy:prometheum_leggings
        metallurgy:quicksilver_leggings
        metallurgy:sanguinite_leggings
        metallurgy:shadow_iron_leggings
        metallurgy:shadow_steel_leggings
        metallurgy:silver_leggings
        metallurgy:steel_leggings
        metallurgy:tartarite_leggings
        metallurgy:vulcanite_leggings
        metallurgy:vyroxeres_leggings
        mysticalworld:copper_leggings
        mysticalworld:silver_leggings
        netherex:black_salamander_hide_leggings
        netherex:orange_salamander_hide_leggings
        netherex:wither_bone_leggings
        saltmod:mud_leggings
        simpledifficulty:ice_leggings
        simpledifficulty:wool_leggings
        thaumcraft:cloth_legs
        thaumcraft:crimson_plate_legs
        thaumcraft:crimson_praetor_legs
        thaumcraft:crimson_robe_legs
        thaumcraft:fortress_legs
        thaumcraft:thaumium_legs
        thaumcraft:void_legs
        thaumcraft:void_robe_legs
        thaumicaugmentation:thaumium_robes_leggings
        thaumicwonders:void_fortress_legs
        thaumicwonders:voidcaller_legs
        thebetweenlands:amphibious_leggings
        thebetweenlands:ancient_leggings
        thebetweenlands:bone_leggings
        thebetweenlands:lurker_skin_leggings
        thebetweenlands:syrmorite_leggings
        thebetweenlands:valonite_leggings
        twilightforest:arctic_leggings
        twilightforest:fiery_leggings
        twilightforest:ironwood_leggings
        twilightforest:knightmetal_leggings
        twilightforest:naga_leggings
        twilightforest:steeleaf_leggings
        twilightforest:yeti_leggings
     >
}


