# Configuration file

backpack {
    I:armor=0
    I:durability=0
    B:enabled=true
    S:size=[9x2]
}


cosmetic {
    S:enchantEffectOpacity=80.0%
}


entity {
    B:spawnFromSpawners=false
    B:spawnNaturally=false

    "minecraft:zombie" {
        S:entries <
            wearablebackpacks:default = 800, wearablebackpacks:backpack, wearablebackpacks:backpack/default, DEFAULT
            wearablebackpacks:colored = 8000, wearablebackpacks:backpack, wearablebackpacks:backpack/default, #202020 ~ #D0D0D0
         >
        I:index=0
        D:rotate=0.0
        D:scale=0.8
        D:translate <
            0.0
            2.5
         >
    }

    "minecraft:skeleton" {
        S:entries <
            wearablebackpacks:default = 1200, wearablebackpacks:backpack, wearablebackpacks:backpack/default, DEFAULT
            wearablebackpacks:colored = 12000, wearablebackpacks:backpack, wearablebackpacks:backpack/default, #202020 ~ #D0D0D0
         >
        I:index=1
        D:rotate=0.0
        D:scale=0.8
        D:translate <
            0.0
            2.5
         >
    }

    "minecraft:zombie_pigman" {
        S:entries <
            wearablebackpacks:colored = 1000, wearablebackpacks:backpack, wearablebackpacks:backpack/default, #202020 ~ #D0D0D0
         >
        I:index=2
        D:rotate=0.0
        D:scale=0.8
        D:translate <
            0.0
            2.5
         >
    }

}


general {
    B:dropAsBlockOnDeath=true
    B:enableEquippedInteraction=false
    B:enableMachineInteraction=false
    B:enableSelfInteraction=true
    B:equipAsChestArmor=false

    ##########################################################################################################
    # server
    #--------------------------------------------------------------------------------------------------------#
    # Server Config
    ##########################################################################################################

    server {
        # Whether or not to apply a potion effect to the player while wearing a backpack.
        B:"Apply Potion Effect"=false

        # Should backpack placement and breaking attempt to ignore event cancellation? (Patches Lycanite's boss arena voiding backpacks)
        B:"Backpack Ignore Cancellation"=false

        # Column size of a normal backpack. Does not affect placed or equipped backpacks until turned back into an item.
        # Min: 1
        # Max: 17
        I:"Backpack Size Column"=9

        # Row size of a normal backpack. Does not affect placed or equipped backpacks until turned back into an item.
        # Min: 1
        # Max: 6
        I:"Backpack Size Row"=2

        # If enabled, places equipped backpacks as a block on death, instead of scattering the items all around.
        B:"Drop as Block on Death"=true

        # If enabled, allows equipped backpacks to be opened by other players by right clicking the target's back.
        B:"Enable Equipped Interaction"=false

        # If enabled, allows machines to interact with placed backpacks.
        B:"Enable Machine Interaction"=false

        # If enabled, allows players to open their own equipped backpack without requiring it to be placed first using a keybind.
        B:"Enable Self Interaction"=true

        # Whether or not the backpack should be equipped as a Bauble.
        B:"Equip Backpack as Bauble"=true

        # Controls whether mobs spawned naturally can randomly be wearing backpacks.
        B:"Natural Mobs Spawn With Backpacks"=false

        # Amplifier of the potion effect to be applied to the player while wearing a backpack.
        # Min: 0
        # Max: 10
        I:"Potion Effect Amplifier"=0

        # The Resourcelocation of the potion effect to be applied on the player while wearing a backpack. (Ex. minecraft:weakness)
        S:"Potion Effect Name"=

        # Controls whether mobs spawned from spawners can randomly be wearing backpacks.
        B:"Spawned Mobs Spawn With Backpacks"=false
    }

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client Config
    ##########################################################################################################

    client {
        # Controls the opacity / visibility of the enchantment effect on equipped and placed backpacks, if present. Default: 80%.
        # Min: 0.0
        # Max: 1.0
        D:"Enchant Effect Opacity"=0.8
    }

}


