# Configuration file

amethyst {
    I:count=0
    I:maxHeight=0
    I:minHeight=0
    I:size=0
}


fairy_dust {
    I:count=0
    I:maxHeight=0
    I:minHeight=0
    I:size=0
}


general {
    S:wearObstructions <
        minecraft:elytra
     >
}


