# Configuration file

manifest {
    B:DisableManifestGrid=true

    # Set to true to require holding shift to *close* the manifest after clicking on an item. Otherwise, holding shift will keep the manifest open.
    B:"Hold Shift To Keep Manifest Open"=true
    B:ManifestPresence=true
    I:MaxDistance=100

    # Whether or not the previous search term persists between 'sessions' (i.e., each time you open the manifest, your previous search term is filled in for you)
    B:"Search Term Persistence"=false
    B:jeiSynchronise=false
}


