# Configuration file

server {
    # Whether or not players should be granted the book from breaking bookshelves
    B:"Book from Breaking Bookshelf"=true

    # Whether or not players should be granted the book for crafting their first Resonator
    B:"Book from Radiant Resonator"=true

    # Min: 1
    # Max: 8
    I:RadiantMultiplier=4
    I:ResonatorLimit=3
    I:ResonatorTickTime=6000
}


